@import url(https://fonts.googleapis.com/css?family=Poiret+One);

html {
    background-color: #E6F5F7;
}

.sticky {
    z-index: 2;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.pointer {
    cursor: pointer;
}

body {
    padding: 0;
    font-family: 'Poiret One', cursive;
    color: #77797b;
}

.icon-img{
  width: 90px;
}

.find-me{
  padding: 30px;
}

.icon-img-small{
  width: 65px;
}

.list{
  display: inline-block;
}

.navbar-default {
    .navbar-nav {
        float: right;
    }

    .container {
        width: inherit;
    }
    background-color: #333333;
    box-shadow: 0 3px 3px #c0c0c0;
    border: none;

    .navbar-nav > li > a {
        color: #fff;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 2px;
        padding: 10px 10px 5px;
        text-align: left;
    }
}

.three-x {
    font-size: 3em !important;
}

.two-x {
    font-size: 2em !important;
}

.onehalf-x {
    font-size: 1.5em !important;
}

.list {
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 20px;
}

.sub {
    margin-bottom: 20px;
    font-size: 18px;
}
/* Custom page header */
.header {
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

.intro-row {
    height: 300px;
    text-align: center;
}

.intro {
    font-size: 25px;
    color: #fff;
    text-align: center;
    position: relative;
    font-family: 'Waiting for the Sunrise', cursive;
    top: 14%;
    transform: translateY(-50%);
    margin-right: 40px;
    margin-left: 40px;
}

.btn-warning {
    margin-top: 15px;
    background-color: #D6451A;
    margin-top: 15px;
    background-color: #2BB7CE;
    border-color: #2E646D;
    width: 125px;
}

.blake {
    width: 120px;
    margin-top: 35px;
    border-radius: 5px;
}

.edmodo {
    margin-top: 20px;
}

.achievements {
    div {
        margin-top: 10px;
        font-size: 18px;
        color: #000000;
    }

    &.fonts {
        margin-top: 5px;
    }
}

.edmodo-img {
    width: 55px;
}

.ncti-img {
    width: 125px;
}

.achievements {
    margin-bottom: 40px;
}

.shredder {
    text-align: center;

    img {
        border-radius: 300px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

.jagged {
    background-repeat: repeat-x;
    min-height: 10px;
}

.second {
    padding-bottom: 20px;
}

.third {
    background-color: #333333;
    color: #fff;
    padding-bottom: 20px;

    h2 {
        text-align: center;
        margin: 50px 0;
    }
}

.text-container {
    padding: 30px;
    font-size: 20px;
}

.mid-text {
    margin: 30px 0;
}

.cursive {
    font-family: 'Josefin Slab', serif;
}

.email {
    margin-bottom: 20px;
}

.contact {
    a {
        color: inherit;
    }
}

.blink-me {
    animation: blinker 1s linear infinite;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF !important;
}

.bp-blue {
    background-image: url("/images/bp-light-blue.png");
    height: 50px;
    margin: 0;
    width: 7%;
    background-size: 94%;
    float: right;
    display: inline-block;
    background-repeat: no-repeat;
}
@keyframes blinker {
    50% {
        opacity: 0.0;
    }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .navbar-nav {
        padding-top: 5px;
    }

    .small {
        display: none;
    }
    /* Remove the padding we set earlier */
    .footer,
    .header,
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
@media screen and (max-width: 599px) {
    .intro {
        font-size: 20px;
    }

    .icon-img{
      width: 45px;
    }

    .find-me{
      padding: 20px;
    }

    .icon-img-small{
      width: 32.5px;
    }


}
@media screen and (max-width: 768px) {
    .small {
        margin: 15px 15px -5px 25px;
        width: 13%;
        background-size: 33px;
        float: none;
        display: inline-block;
    }

    .large {
        display: none;
    }

    .navbar-toggle {
        margin-bottom: 0;
        margin-top: 16px;
    }
}
